/* 卡片翻轉 */
.card-wrap {
    /* width: 500px; */
    position: relative;
}

.card{
    width: 644px;
}

.card1 {
    /*preserve the back when fliping*/
    transform-style: preserve-3d;
    transition: 0.3s all ease;
}

.card2 {
    /*preserve the back when fliping*/
    transform-style: preserve-3d;
    transition: 0.3s all ease;
}
.card3 {
    /*preserve the back when fliping*/
    transform-style: preserve-3d;
    transition: 0.3s all ease;
}
.card4 {
    /*preserve the back when fliping*/
    transform-style: preserve-3d;
    transition: 0.3s all ease;
}

.cardk {
    height: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    /* display: none !important; */
}

/*back card*/
.card-back {
    z-index: -10;
    top: 72px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    /* display: none; */
    background-color: #fffbe3;
    font-size: 16px;
    transform-style: preserve-3d;
    transition: 0.5s all ease;
    transform: rotateY(180deg);
}

.cardS {
    backface-visibility: visible;
    /* display: block; */
    transform: rotateY(360deg);

}

.card-backNew {
    position: unset;
}

.position {
    position: relative;
}

/* 卡片文字大小 */
.title{
    font-size: 30px;
}
.SecTitle{
    font-size: 16px;
}
.ThirdTitle{
    font-size: 28px;
    font-weight: 700;
}
.textSize{
    font-size: 22px;
}

.cardTitleSize{
    font-size: 32px;
}
/* 按鈕字距 */
.butSpacing{
    letter-spacing: 3px;
}
