$green-100: #55b793;
$green-200: #319e76;
$green-300: #396b51;
$green-400: #306b56;
$green-500: #356900;
$green-600: #275544;
$green-700: #123e30;

$brown-100: #6b4d30;
$brown-200: #595947;
$brown-300: #a75a12;
$brown-400: #cd6d37;
$brown-500: #c05c00;
$brown-600: #692300;
$brown-700: #463c37;

$yellow-100: #fffcef;
$yellow-200: #f9f4e1;
$yellow-300: #fff8db;
$yellow-400: #d7b06a;
$yellow-500: #fcd400;
$yellow-600: #ffd000;
$yellow-700: #fdae20;
