@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import 'variable';
@import 'bootstrap/bootstrap';
@import 'template';