// 保留這一行 @import，下面寫各自頁面的 CSS
@import 'all';
// 手機板尺吋 padding
.container {
  @media (max-width: $grid-sm) {
    padding-right: 26px;
    padding-left: 26px;
  }
}

// 主要內容
main {
  margin-top: 86px;

  @media (max-width: $grid-md) {
    margin-top: 39px;
    padding-right: 26px;
    padding-left: 26px;
  }
  h1 {
    @media (max-width: $grid-md) {
      font-size: 30px;
      margin-bottom: 24px;
    }
    @media (max-width: $grid-sm) {
      font-size: 15px;
    }
  }
  // 查詢選項區
  .search-section {
    @media (max-width: $grid-md) {
      margin-right: 10px;
      margin-left: 10px;

      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.3);
      border-radius: 10px;

      position: relative;
    }
  }
  .medical-staff-image-1 {
    width: 332px;
    height: 476px;
    background-image: url('../images/medical-staff-1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    @media (max-width: $grid-md) {
      background-image: url('../images/medical-staff-1-small.svg');
    }
  }
  .medical-staff-image-2 {
    width: 332px;
    height: 476px;
    background-image: url('../images/medical-staff-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    @media (max-width: $grid-md) {
      width: 176px;
      height: 208px;
      background-image: url('../images/medical-staff-2-small.svg');
      position: absolute;
      right: -30px;
      bottom: 0;
    }
    @media (max-width: $grid-sm) {
      width: 88px;
      height: 104px;
      background-image: url('../images/medical-staff-2-small.svg');
    }
  }
  .search-form {
    position: relative;
    max-width: 820px;
    padding-top: 24px;
    padding-bottom: 67px;
    text-align: center;

    @media (max-width: $grid-md) {
      padding-bottom: 24px;
    }
    @media (max-width: $grid-sm) {
      padding-top: 18px;
    }
    .limit-border {
      position: absolute;
      bottom: 0px;
      width: 120%;
      border-top: 1px solid $black;
      z-index: -1;

      @media (max-width: $grid-md) {
        top: 69px;
        bottom: auto;
        width: 80%;
        color: #cbcbcb;
      }
      @media (max-width: $grid-sm) {
        top: 55px;
      }
    }
  }
  // 地區選擇區塊
  .search-label {
    margin: 0px;
    margin-bottom: 44px;
    color: $green-400;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    @media (max-width: $grid-md) {
      margin-bottom: 13px;
      color: $brown-600;
      font-size: 20px;
      line-height: 26px;
    }
    @media (max-width: $grid-sm) {
      font-size: 13px;
      line-height: 16px;
    }
  }
  select {
    width: 147px;
    padding: 8px 0px 7px 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    outline: none;
    color: $brown-700;

    background-color: $white;
    background-image: url('../images/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 24px 17px;

    border: 1px solid #9c9c9c;
    border-radius: 10px;

    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
    word-wrap: none;
    cursor: pointer;

    @media (max-width: $grid-md) {
      width: 110px;
      padding: 5px 0px 4px 10px;
      font-size: 20px;
      line-height: 26px;

      background-image: url('../images/select-arrow.svg');
      background-position: right 9px center;
      background-size: 14px 10px;

      border-radius: 6px;
    }
    @media (max-width: $grid-sm) {
      width: 89px;
      padding: 5px 0px 4px 10px;
      font-size: 13px;
      line-height: 16px;
    }
  }
  // 詢問篩檢(手機板才顯示)
  .search-choice-ask {
    font-weight: 700;
    color: $brown-600;
    margin-top: 13px;
    margin-bottom: 13px;

    @media (max-width: $grid-md) {
      font-size: 20px;
      line-height: 26px;
    }
    @media (max-width: $grid-sm) {
      font-size: 13px;
      line-height: 16px;
    }
  }
  // 多選篩檢項目
  .search-choice {
    width: calc(50% - 7px);
    padding: 17px 0px 14px 21px;
    margin: 0px;
    margin-bottom: 13px;
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    cursor: pointer;

    @media (max-width: 1640px) {
      width: 85%;
      padding: 10px 0px 10px 21px;
      font-size: 20px;
      line-height: 25px;
    }
    @media (max-width: $grid-md) {
      margin-bottom: 11px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      background: $yellow-200;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    @media (max-width: $grid-sm) {
      padding-left: 10px;
      font-size: 12px;
      line-height: 15px;
    }
  }
  // 查詢按鈕
  .btn-search-layout {
    width: 100%;
    margin-top: 51px;
    padding: 22px 0px 21px;
    background-color: $yellow-500;
    border: 8px solid $white;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: $brown-600;

    &:hover {
      color: $brown-600;
    }

    @media (max-width: 1640px) {
      width: auto;

      padding: 10px 18px;
      margin-top: 10px;
      font-size: 20px;
      line-height: 25px;

      border: 4px solid $white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
    }
    @media (max-width: $grid-sm) {
      margin-top: 5px;
      font-size: 13px;
      line-height: 16px;
    }
  }
  // 分隔線
  .hr-border {
    width: 95%;
    border-top: 1px solid #acacac;

    margin-top: 38px;
    margin-bottom: 16px;
  }
  // 查詢結果顯示區
  .search-result {
    width: calc(100% - 50px);
    margin: 0 auto;

    @media (max-width: $grid-xl) {
      width: 100%;
    }

    h2 {
      line-height: 58px;
      margin-top: 126px;
      margin-bottom: 80px;

      @media (max-width: $grid-md) {
        font-size: 30px;
        line-height: 38px;
        margin-top: 100px;
        margin-bottom: 60px;
      }
      @media (max-width: $grid-sm) {
        text-align: left;

        font-size: 14px;
        line-height: 17px;

        margin-top: 16px;
        margin-bottom: 20px;
        margin-left: 25px;
      }
    }
  }
  // 機構卡片
  .card {
    width: calc(50% - 32px);
    background: $white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 23px;

    padding: 32px 47px 27px;
    margin-bottom: 51px;

    @media (max-width: $grid-xl) {
      width: 100%;
    }

    @media (max-width: $grid-md) {
      border-radius: 15px;

      padding: 20px 30px 18px;
      margin-bottom: 35px;
    }
    @media (max-width: $grid-sm) {
      border-radius: 10px;

      padding: 16px 17px 15px;
      margin-bottom: 19px;
    }
  }
  .card-body {
    padding: 0px;
    text-align: left;
    .card-title {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;

      padding-bottom: 26px;
      margin-bottom: 16px;
      border-bottom: 1px solid $green-400;
      color: $brown-600;

      @media (max-width: $grid-md) {
        font-size: 20px;
        line-height: 25px;

        padding-bottom: 15px;
        margin-bottom: 15px;
      }
      @media (max-width: $grid-sm) {
        font-size: 10px;
        line-height: 12px;

        padding-bottom: 8px;
        margin-bottom: 8px;
      }
    }
    .card-text {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $green-600;

      @media (max-width: $grid-md) {
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 20px;
      }
      @media (max-width: $grid-sm) {
        margin-bottom: 5px;
        font-size: 10px;
        line-height: 12px;
      }

      span {
        max-width: calc(100% - 29px - 3px);

        @media (max-width: $grid-md) {
          max-width: calc(100% - 20px - 3px);
        }
        @media (max-width: $grid-sm) {
          max-width: calc(100% - 11px - 3px);
        }
      }
    }
    .icon-location {
      width: 29px;
      height: 29px;
      margin-left: 3px;
      background: url('../images/icon-location.svg') no-repeat;
      background-size: contain;

      @media (max-width: $grid-md) {
        width: 20px;
        height: 20px;
      }
      @media (max-width: $grid-sm) {
        width: 11px;
        height: 11px;
      }
    }
    .search-result-icons {
      margin-top: 5px;

      @media (max-width: $grid-sm) {
        margin-top: 2px;
      }
    }
    .icon-cancer {
      width: 36px;
      height: 36px;
      margin-right: 6px;

      @media (max-width: $grid-md) {
        width: 30px;
        height: 30px;
      }
      @media (max-width: $grid-sm) {
        width: 14px;
        height: 14px;
        margin-right: 3px;
      }
    }
    .icon-cancer.active {
      opacity: 1;
    }
    .icon-cancer.none {
      opacity: 0.2;
    }
    .icon-5 {
      background: url('../images/icon-5.svg') no-repeat;
      background-size: contain;
    }
    .icon-2 {
      background: url('../images/icon-2.svg') no-repeat;
      background-size: contain;
    }
    .icon-7 {
      background: url('../images/icon-7.svg') no-repeat;
      background-size: contain;
    }
    .icon-3 {
      background: url('../images/icon-3.svg') no-repeat;
      background-size: contain;
    }
  }
}

// checkbox / radio 特別尺寸樣式設定
@media (min-width: $grid-md) and (max-width: 1640px) {
  input[type='checkbox'] + span,
  input[type='checkbox']:checked + span,
  input[type='radio'] + span,
  input[type='radio']:checked + span {
    width: 30px;
    height: 30px;
  }
}
