@import 'all';

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.cardBgc{
    background: #FFFBE3;
}
.textColor-b{
    color: #B26D2C;
}
.textcolor-cardB{
    color: #a75912;
}
.textColor-g{
    color: #595947;
}

.buttColor{
    background: #723010;
}
.button1{
    margin: 25px 0 33px;
}
.button2{
    margin: 21px 0 28px;
}
.button3{
    margin: 16px 0 36px;
}
.button4{
    margin: 35px 0 41px;
}

.backBut1{
    margin: 16px 0 31px;
}

.backBut2{
    margin: -20px 0 34px;
}

.backBut3{
    margin: -27px 0 35px;
    z-index: 5;
}

.backBut4{
    margin: 13px 0 37px;
    z-index: 5;
}

@media(max-width: 715px){
    .card{
        width: 500px;
    }
}
@media(max-width: 550px){
    .card{
        width: 400px;
    }
}
@media(max-width: 420px){
    .card-wrap{
        div{
            h5{
                font-size: 14px !important;
                text-align: center;
            }
            p{
                font-size: 8px;
                text-align: center;
            }
            .card{
                width: 300px;
                .card-body{
                    p{
                        text-align: left;
                    }
                }
            }
            button{
                font-size: 12px;
            }
        }
    }
}

