@import 'all';
@import 'input';

// 手機板尺吋 padding
.container {
  @media (max-width: $grid-sm) {
    padding-right: 26px;
    padding-left: 26px;
  }
}

// 主要內容
main {
  padding: 86px 0px;

  @media (max-width: $grid-md) {
    padding: 86px 26px;
  }
  @media (max-width: 768px) {
    padding: 48px 26px;
  }
  h1 {
    @media (max-width: 1024px) {
      font-size: 35px;
    }
    @media (max-width: $grid-md) {
      margin-bottom: 24px;
    }
    @media (max-width: 768px) {
      font-size: 30px;
    }
    // 原 321px 因字數較多會換行，提早變版
    @media (max-width: 355px) {
      font-size: 24px;
    }
  }
  // 查詢選項區
  .qualify-check-section {
    margin: 43px 80px 0px;
    padding: 107px 208px 61px;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 40px;

    @media (max-width: $grid-xxl) {
      margin: 40px 10px;
      padding: 100px 120px 61px;
    }
    @media (max-width: $grid-xl) {
      padding: 80px 80px 51px;
    }
    @media (max-width: $grid-lg) {
      padding: 40px 50px 31px;
    }
    @media (max-width: $grid-md) {
      position: relative;

      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
    @media (max-width: $grid-sm) {
      padding: 28px;
    }
  }
  .check-form {
    @media (max-width: $grid-md) {
    }
    @media (max-width: $grid-sm) {
    }
  }
  label {
    margin-bottom: 0;
  }

  // 生日選擇區塊
  .birth-year-label,
  .gender-box {

    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: $brown-600;

    @media (max-width: $grid-md) {
      font-size: 20px;
      line-height: 26px;
    }
    @media (max-width: $grid-sm) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  .gender-label {
    color: $green-600;
    margin-left: 16px;
  }
  select.birth-year {
    width: 147px;
    padding: 8px 0px 7px 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    outline: none;
    color: $brown-700;

    background-color: $white;
    background-image: url('../images/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 24px 17px;

    border: 1px solid #9c9c9c;
    border-radius: 10px;

    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
    word-wrap: none;
    cursor: pointer;

    @media (max-width: $grid-md) {
      width: 110px;
      padding: 5px 0px 4px 10px;
      font-size: 20px;
      line-height: 26px;

      background-image: url('../images/select-arrow.svg');
      background-position: right 9px center;
      background-size: 14px 10px;

      border-radius: 6px;
    }
    @media (max-width: $grid-sm) {
      width: 89px;
      padding: 5px 0px 4px 10px;
      font-size: 13px;
      line-height: 16px;
    }
  }
  // 詢問兩年內篩檢項目
  .check-choice-ask {
    padding-top: 28px;
    margin-top: 17px;
    margin-bottom: 36px;

    border-top: 1px solid $green-400;

    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: $brown-600;

    @media (max-width: $grid-md) {
      font-size: 20px;
      line-height: 26px;

      border-top: 1px solid #cbcbcb;
    }
    @media (max-width: $grid-sm) {
      font-size: 16px;
      line-height: 16px;
    }
  }
  // 多選篩檢項目
  .check-choice {
    width: calc(50% - 7px);
    padding: 17px 0px 14px 21px;
    margin: 0px;
    margin-bottom: 13px;

    background: #fffdf4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    cursor: pointer;

    @media (max-width: 1240px) {
      font-size: 20px;
    }
    @media (max-width: $grid-xl) {
      width: 100%;
    }
    @media (max-width: $grid-md) {
      margin-bottom: 11px;

      padding: 10px 0px 10px 21px;
      font-size: 20px;
      line-height: 25px;

      background: $yellow-200;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    @media (max-width: $grid-sm) {
      padding-left: 10px;
      font-size: 15px;
      line-height: 15px;
    }
    @media (max-width: 353px) {
      padding-left: 8px;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .btn-box {
    @media (max-width: 380px) {
      flex-direction: column-reverse;
    }
  }
  .btn {
    margin-top: 31px;
    padding: 12px 29px;

    border: 8px solid $white;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

    @media (max-width: $grid-lg) {
      margin-top: 25px;
      font-size: 25px;
      line-height: 30px;
      border-radius: 50px;
    }
    @media (max-width: $grid-sm) {
      margin-top: 14px;
      padding: 10px 20px;
      font-size: 18px;
      line-height: 18px;
      border: 4px solid #ffffff;
    }
    @media (max-width: 380px) {
      padding: 10px 16px;
    }
    span {
      display: inline-block;
      width: 95px;
      height: 95px;
      margin-right: 15px;
      background: url('../images/right-arrow.svg') no-repeat;
      background-size: contain;
      user-select: none;
    }
  }
  .btn-reset-layout {
    margin-right: 29px;

    background-color: #aeaeac;

    color: #605e5d;

    @media (max-width: $grid-lg) {
      margin-right: 20px;
    }
    @media (max-width: $grid-md) {
      margin-right: 15px;
    }
    @media (max-width: $grid-sm) {
      margin-right: 13px;
    }
    @media (max-width: 380px) {
      margin-right: 0px;
    }
    &:hover {
      color: #605e5d;
    }
  }
  // 查詢按鈕
  .btn-check-layout {
    background-color: $yellow-500;

    color: $brown-600;

    &:hover {
      color: $brown-600;
    }
  }

  // 分隔線
  .hr-border {
    width: 100%;
    border-top: 1px solid #cbcbcb;
    margin: 17px 0px;
  }
  // 查詢結果顯示區
  .result-section {
    position: relative;
    margin: 43px 80px 0px;
    padding: 24px 24px 116px;

    background: rgba(238, 238, 238, 0.6);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 40px;

    @media (max-width: $grid-xxl) {
      margin: 40px 10px;
      padding: 30px 50px 100px;
    }
    @media (max-width: $grid-xl) {
      padding-bottom: 50px;
    }
    @media (max-width: 690px) {
      padding-bottom: 150px;
    }
    @media (max-width: $grid-md) {
      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
    @media (max-width: $grid-sm) {
      padding: 28px 28px 150px;
      padding-bottom: 130px;
    }
  }
  .condition {
    width: 100%;
    padding: 30px 10px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;

    color: $black;
    background-color: #dcdcdc;
    border-radius: 30px;

    @media (max-width: 1399px) {
      font-size: 25px;
    }
    @media (max-width: $grid-xl) {
      margin-bottom: 40px;
      font-size: 20px;
    }
    @media (max-width: $grid-md) {
      background-color: transparent;
      border-radius: 0px;

      border-bottom: 1px solid #cbcbcb;
    }
    @media (max-width: $grid-sm) {
      padding: 0px;
      padding-bottom: 14px;
      margin-bottom: 30px;

      font-size: 16px;
      line-height: 20px;
      text-align: left;
    }
    p {
      display: inline-block;
      margin: 0px;

      @media (max-width: $grid-sm) {
        display: block;
      }
    }
  }
  .result-box {
    font-weight: 700;

    .qualify-check-doctor {

      background: url('../images/skim.svg') no-repeat;
      background-size: 49px 32px;
      background-position: 100% 40%;

      @media (max-width: 1399px) {
        height: 280px;
      }
      @media (max-width: $grid-xl) {
        height: 225px;
      }
      @media (max-width: $grid-lg) {
        height: 190px;
        background-size: 30px 19px;
      }
      @media (max-width: $grid-md) {
        height: 190px;
        background: url('../images/skim-small.svg') no-repeat;
        background-size: 17px 8px;
        background-position: 90% 50%;
      }
      @media (max-width: 690px) {
        height: 160px;
      }
      @media (max-width: $grid-sm) {
        height: 107px;
      }

      @media (max-width: 420px) {
        display: none;
      }
    }
    p {
      line-height: 1.5;
      margin: 0px;
      text-align: left;
    }
    .p-box {
      margin-left: 45px;
      @media (max-width: $grid-md) {
        margin-left: 25px;
      }
      @media (max-width: $grid-sm) {
        margin-left: 15px;
      }
    }
    .p-line-1 {
      font-size: 32px;

      color: #723010;

      @media (max-width: $grid-xl) {
        font-size: 25px;
      }
      @media (max-width: $grid-md) {
        font-size: 20px;
      }
      @media (max-width: 690px) {
        word-break: keep-all;
      }
      @media (max-width: $grid-sm) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .p-line-2 {
      font-weight: 800;
      font-size: 40px;
      margin: 10px 0px;

      color: #9e0900;

      @media (max-width: $grid-xl) {
        font-size: 35px;
      }
      @media (max-width: $grid-md) {
        font-size: 30px;
      }
      @media (max-width: 690px) {
        font-size: 26px;
      }
      @media (max-width: $grid-sm) {
        font-size: 20px;
      }
    }
    .p-line-3 {
      font-size: 32px;

      color: #1b5e45;

      @media (max-width: $grid-xl) {
        font-size: 25px;
      }
      @media (max-width: $grid-md) {
        font-size: 20px;
      }
      @media (max-width: $grid-sm) {
        font-size: 14px;
      }
      @media (max-width: $grid-xs) {
        font-size: 12px;
      }
    }
  }
  .btn-arrow-row {
    margin-top: 41px;
    @media (max-width: $grid-xl) {
      margin-top: 30px;
    }
    @media (max-width: $grid-lg) {
      margin-top: 10px;
    }
    @media (max-width: 690px) {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
    @media (max-width: $grid-sm) {
      bottom: 35px;
    }
  }
  .btn-link-arrow-layout,
  .btn-refresh-arrow-layout,
  .btn-link-arrow-layout:focus,
  .btn-refresh-arrow-layout:focus {
    padding: 27px 30px 24px 33px;

    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.105em;

    color: $white;

    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 157.5px;

    @media (max-width: 1399px) {
      padding: 15px 33px;
    }
    @media (max-width: $grid-xl) {
      font-size: 20px;
      line-height: 25px;
      padding: 15px 30px;
    }
    @media (max-width: $grid-lg) {
      margin-top: 10px;
    }
    @media (max-width: $grid-md) {
      font-size: 18px;
      line-height: 20px;
      padding: 10px 20px;
    }
    @media (max-width: 690px) {
      padding: 10px 50px;
    }
    @media (max-width: $grid-sm) {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
      font-size: 13px;
      line-height: 16px;
      padding: 9px 32px;
    }
    span {
      display: inline-block;
      width: 38px;
      height: 38px;
      margin-left: 15px;
      background: url('../images/right-arrow.svg') no-repeat;
      background-size: contain;
      user-select: none;

      @media (max-width: $grid-xl) {
        width: 25px;
        height: 25px;
      }
      @media (max-width: $grid-sm) {
        width: 20px;
        height: 20px;
        margin-left: 5px;
      }
    }
  }
  .btn-link-arrow-layout {
    background-color: $green-200;
    margin-right: 28px;
    @media (max-width: $grid-xl) {
      margin-right: 20px;
    }
    @media (max-width: $grid-lg) {
      margin-right: 10px;
    }
    @media (max-width: $grid-md) {
      margin-right: 0px;
    }
  }
  .btn-refresh-arrow-layout {
    background-color: #723010;
  }
}

// checkbox / radio 特別尺寸樣式設定
@media (min-width: $grid-md) and (max-width: 1640px) {
  input[type='checkbox'] + span,
  input[type='checkbox']:checked + span,
  input[type='radio'] + span,
  input[type='radio']:checked + span {
    width: 30px;
    height: 30px;
  }
}
