// 保留這一行 @import，下面寫各自頁面的 CSS
@import 'all';

.quiz-titleSmall{
    display: none;
}
.quiz-title{
    font-size: 40px;
    font-weight: 700;
    color: #306B56;
    @media(max-width:1380px){
        font-size: 32px;
    }
    @media(max-width:1155px){
        font-size: 24px;
    }
    @media(max-width:885px){
        font-size: 24px;
    }
    @media(max-width:710px){
        .quiz-titleLarge{
            display: none;
        }
        .quiz-titleSmall{
            display: block;
        }
    }
    @media(max-width:320px){
        font-size: 16px;
    }
}

.quizContent

.quiz-content-bgset{
    background-color: #FFD000;
    border: 21px solid #692300;
    background-image: url(../images/quiz/w-line.svg);
    
}

.quizAfter img{
    width: 100%;
}

.quiz-caption{
    font-size: 36px;
    font-weight: 700;
    color: #692300;
}

.quizbtn-game-bgSet{
    color: #FFFFFF;
    background-color: #692300;
    border-radius: 157px;
    font-size: 32px;
    display: flex;
}
.quizImgs{
    max-width: 100%;
    display: flex;
}

.quiz-infoTop-bgSet{
    background-color: #F9F4E1;
    color: #319E76;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.5);
}

.quiz-imgLocation{
    position: absolute;
    top: 14px;
    left: 70px;
    @media(max-width:1560px){
        width: 150px;
        top: 14px;
    }
    @media(max-width:1490px){
        width: 120px;
        top: 42px;
    }
    @media(max-width:1365px){
        top: 41px;
        left: 60px;        
    }
    @media(max-width:1335px){
        left: 40px;        
    }

    @media(max-width:1275px){
        left: 40px;
    }
    @media(max-width:1245px){
        width: 100px;
        left: 50px;
        top: 48px;
    }
    @media(max-width:1199px){
        left: 150px;
        top: 0px;
    }
    @media(max-width:1140px){
        left: 120px;
    }
    @media(max-width:1085px){
        left: 100px;
    }
    @media(max-width:1040px){
        left: 80px;
    }

}

.quizbtn-linkSupport{
    background-color: #319E76;
    border-radius: 157px;
    font-size: 32px;
    color:#F9F4E1;
    font-weight: 700;
    display: flex;
    @media(max-width:1560px){
        font-size: 26px;
        img{
            width: 80%;
        }
    }
    @media(max-width:1490px){
        font-size: 20px;
        img{
            width: 70%;
        }
    }
    @media(max-width:1245px){
        font-size: 18px;
        img{
            width: 50%;
        }
    }
}

.quiz-infoDown-bgset{
    background-color: #F9F4E1;
    border: 10px solid #396B51;

}
.quiz-titleSpace{
    letter-spacing: 0.08em
}

.quizbtn-infoSupport{
    background-color: #1A6CCD;
    border-radius: 157px;
    font-size: 25px;
    color:#FFFFFF;
    font-weight: 700;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.5);
    display: flex;
    @media(max-width:1380px){
        font-size: 20px;
    }
    @media(max-width:885px){
        font-size: 16px;
        font-weight: 400;
    }
}

.quiz-infoTop-saying{
    font-size: 28px;
    font-weight: 700;
    @media(max-width:1560px){
        font-size: 26px;
    }
    @media(max-width:1490px){
        font-size: 22px;
    }
    @media(max-width:1245px){
        font-size: 18px;
    }
}
.quizAfter a{
    display: block;
}



